* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  background-repeat: no-repeat;
  height: 100vh;
}

h1,
h2,
h3,
p,
button {
  margin-bottom: 30px;
}

h1 {
  font-size: 3rem;
}

.container {
  background-color: #fff;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  max-width: 30%;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#rock,
#paper,
#scissors {
  padding: 10px;
  width: 20%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 530px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }
  .container {
    max-width: 80%;
  }

  #rock,
  #paper,
  #scissors {
    width: 40%;
  }
}

@media (min-width: 531px) and (max-width: 768px) {
  .container {
    max-width: 60%;
  }

  #rock,
  #paper,
  #scissors {
    width: 30%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 40%;
  }

  #rock,
  #paper,
  #scissors {
    width: 25%;
  }
}
